<!DOCTYPE html>
{% extends "base.html" %}


<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Todas as categorias</title>
    </head>
    <body style="padding:20px">
        {% if cursor %}
            {% block content %}
            <form action="category" method="post">
                <input type="submit" name="button" value="Voltar">
            </form>
            <table border="1" id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center">Nome</th>
                        <th style="text-align: center"></th>
                        <th style="text-align: center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in cursor %}
                        <tr>
                            <td style="padding-left: 4px; padding-right: 4px">{{record[0]}}</td>
                            <td style="padding-left: 4px; padding-right: 4px">
                                <form action="category" method="post">
                                    <input type="hidden" name="category_name" value="{{ record[0] }}"/>
                                    <input type="submit" name="button" value="Remover">
                                </form>
                            </td>
                            <td style="padding-left: 4px; padding-right: 4px; text-align: center">
                                <a href="subcategories?nome_cat={{record[0]}}">Listar Subcategorias</a>
                            </td>
                        </tr>
                    {% endfor %}

                    {% if not input_category %}
                    <tr>
                        <td style="padding-left: 4px; padding-right: 4px; padding-top: 4px; text-align: center" colspan = 3>
                            <form action="category" method="post">
                                <input type="submit" name="button" value="Adicionar">
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td style="padding-left: 4px; padding-right: 4px; padding-top: 4px; text-align: center" colspan = 3>
                            <form action="category" method="post">
                                <p>Adicionar nova categoria</p>
                                <p>Nome: <input type="text" name="new_category"/></p>
                                <p><input type="submit" name="button" value="Nova Categoria"/></p>
                            </form>
                        </td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>
            {% endblock %}

            {% block scripts %}
              <script>
                $(document).ready(function () {
                  $('#data').DataTable({
                    columns: [
                      null,
                      {searchable: false},
                      {orderable: false, searchable: false},
                      {orderable: false, searchable: false},
                      null],
                  });
                });
              </script>
            {% endblock %}
        {% else %}
            <p> Erro: ao obter dados da base de dados!</p>
        {% endif %}
    </body>
</html>
