<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Todas as categorias</title>
    </head>
    <body style="padding:20px">
        {% if cursor %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in cursor %}
                        <tr>
                            <td>{{record[0]}}</td>
                            <td><a href="remove?category_name={{record[0]}}">
                                Remover categoria
                            </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> Erro: ao obter dados da base de dados categoria!</p>
        {% endif %}
    </body>
</html>