<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Gestao de retalhistas</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body style="padding:20px">
        {% if cursor %}
            <table border="1">
                <thead>
                    <tr>
                        <th style="padding-left: 4px; padding-right: 4px; text-align: center">Nome</th>
                        <th style="padding-left: 4px; padding-right: 4px; text-align: center">Remover retalhista</th>
                        <th style="padding-left: 4px; padding-right: 4px; text-align: center">Gerir responsabilidades</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in cursor %}
                        <tr>
                            <td style="padding-left: 4px; padding-right: 4px">{{record[0]}}</td>
                            <td style="padding-left: 4px; padding-right: 4px; text-align: center">
                                <form action="retailer" method="post">
                                    <input type="hidden" name="retailer_name" value="{{record[0]}}"/>
                                    <input type="submit" name="remove_button" value="Remover">
                                </form>
                            </td>
                            <td style="padding-left: 4px; padding-right: 4px; text-align: center">
                                <a href="alter_retailer?name={{record[0]}}">Alterar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td style="padding-left: 4px; padding-right: 4px; text-align: center" colspan = 3>
                            <a href="new_retailer">Novo retalhista</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p> Erro: ao obter dados da base de dados categoria!</p>
        {% endif %}
    </body>
</html>